.formulario{
    
    padding: 20px;
    width: 1000px;
    height: 80px;
    background-color: $color-F2;
    border-radius: 10px;
    border: solid 1px ;
    position:relative;
    left: 150px;
    bottom: 20px;
}

.carousel-item{
    background-size:contain;
}
    
    
 .dropdown{
     display: inline-block;
     padding: 10px;
    border-radius: 25px;
    left: 350px;
    bottom: 30px;
 }